/* src/AddressBook.css */
.address-book {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px auto;
    color: rgb(14, 75, 14);
    
  }
  
  .address-book h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(14, 75, 14);
    
  }
  
  .address-item {
   display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4a5348;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .address-label {
    font-weight: bold;
    margin-bottom: 10px;

  }
  
  .address-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    
  }
  
  .add-address-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 35px;
  }
  