/* src/AddressBook.css */

.address-book {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 40vh;
}

.address-book h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.address-book form {
  margin-bottom: 3rem;
}

.address-book .inputs-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.address-book .inputs-container input {
  padding: 0.6rem 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.address-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-book .address-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address-label {
  font-weight: bold;
}

.address-info {
  color: #424242;
}

.address-actions {
  display: flex;
  gap: 10px;
}

.address-actions button {
  background: none;
  border: none;
  color: rgb(38, 98, 65);
  cursor: pointer;
}

.address-actions button:hover {
  text-decoration: underline;
}

.address-edit {
  display: flex;
  gap: 10px;
}

.address-edit input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.address-edit button {
  padding: 5px 10px;
  border: none;
  background-color: #266241;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.address-edit button:hover {
  background-color: #266241;
}

.add-address-button {
  display: block;
  /* width: 50%; */
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #266241;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.add-address-button:hover {
  background-color: #266241;
}

/* .dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  right: 0;
  z-index: 1;
}

.dropdown-link {
  color: black;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #f0f0f0;
} */
