.footer {
  background-color: #231f1f;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #aaa;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 20px;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #aaa;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
}
