/* ***********  NAVBAR - LOGIN AND REGISTER BUTTONS *********** */

.register-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.toggle-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #266241;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  background-color: #57635c;
}

.toggle-button:hover {
  background-color: #163825;
}

/* *********** REGISTER LOGIN - NAVBAR - MODAL  *********** */

.register-login-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.name-fields {
  display: flex;
  justify-content: space-between;
}

.form-label {
  margin-bottom: 10px;
  font-size: 14px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #eee2e2;
  border-radius: 5px;
}

.form-input:focus {
  border-color: #266241;
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #266241;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #163825;
}

/*  *********** WHEN LOGIN IN - NAV BAR WITH DROPDOWN MENU *********** */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 400px;
  height: 4rem;
  padding: 0.6rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(229, 224, 224);
  z-index: 10;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.welcome-message {
  margin-right: 10px;
  font-weight: bolder;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 160px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  right: 0;
  top: 100%;
  margin-right: 10px;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(195, 190, 190);
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.logout-button {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #266241;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button.active {
  background-color: #57635c;
}

.logout-button:hover {
  background-color: #163825;
}

/* *********** basket ICON in the nav bar *********** */
.cart-logo {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  color: #266241;
  text-decoration: none;
}

.item-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -10px;
}
