/* RestaurantMenu.css */

.page-container {
  display: flex;
  justify-content: space-between;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

.menu-card {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 50px;
  /* max-height: 100vh;
  overflow-y: auto; */
}

.restaurant-name {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.restaurant-address {
  font-size: 1.2em;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  gap: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* .item-info {
  max-width: 70%;
} */

.menu-item-card .item-details {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.item-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.item-description {
  font-size: 1em;

  margin-bottom: 20px;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-price {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.add-button {
  background: rgb(38, 98, 65);
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  align-self: center;
}

.add-button:hover {
  background: #163825;
}

.not-found {
  text-align: center;
  font-size: 1.5em;
  color: #ff0000;
  margin-top: 150px;
}
