/* ******** RSMenu.css ********* */

.rs-menu-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

.cuisine {
  text-align: center;
  margin-bottom: 20px;
}

.menu-category {
  margin-bottom: 30px;
}

.menu-category h2 {
  border-bottom: 2px solid #274691;
  padding-bottom: 5px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menu-item:last-child {
  border-bottom: none;
}

.item-info h3 {
  margin: 0;
  text-align: left;
}

.item-info p {
  margin: 5px 0 0;
  color: #6c757d;
}

.item-price {
  color: #343a40;
  font-weight: bold;
}

.update-button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #274691;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;

}

.update-button:hover {
  background-color: #3c3572;
}
