/* ******** RSProfile.css ********* */

/* RSProfile.css */

.rs-profile-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 8px;
}

.basic-info,
.contact-information,
.address,
.digital-presence,
.opening-hours {
  border: 1px solid #ddd;
  margin: 2rem;
  border-radius: 8px;
  padding: 2rem;
}

h3 {
  padding-bottom: 5px;
}

.rs-profile-section {
  margin: 10px 0;
  padding: 10px;

  border-radius: 5px;
}

.rs-profile-section .label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.rs-profile-section .label input {
  padding: 0.6rem;
  font-size: 1.4rem;
}

.rs-profile-section div {
  margin: 5px 0;
}

strong {
  color: #555;
}

.edit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #274691;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #274691;
}
