/*  RSRegisterPage.css */

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
} */

.rs-section-register {
  margin-top: 70px;
  padding: 10rem;
  text-align: center;
  background-color: rgb(78, 78, 78);
}

.rs-section-register h1 {
  color: white;
}

.rs-section-register p {
  color: white;
  max-width: 600px;
  margin: 1rem auto;
}

.rs-section-register button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  color: #343a40;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.rs-section-register button:hover {
  background-color: rgb(52, 58, 64);
}

.rs-section-partner {
  margin-top: 1rem;
  padding: 10rem;
  background-color: white;
}

.rs-section-partner h2 {
  text-align: center;
  color: #343a40;
}

.rs-section-partner div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 3rem;
}

.rs-section-partner div div {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 300px;
  margin: 1rem;
  padding: 2rem;
  text-align: left;
}

.rs-section-partner div div img {
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  height: 30vh;
  object-fit: contain;
}

.rs-section-partner div div h3 {
  color: #343a40;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 0;
}

.rs-section-partner div div p {
  color: #6c757d;
  margin-top: 0.5rem;
  text-align: center;
}
