/* Searchbar.css */

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  margin-top: 50px;
  gap: 8rem;
}
.search-container p {
  align-self: center;
  font-weight: 550;
}

/* .home-searchbar */
.search-container {
  /* background-image: url("https://imageproxy.wolt.com/venue/60c438f43b9448233d9907cf/2c0a32ee-d34c-11eb-9198-5e1d1b316988_food_brothers_close_up_3.jpg"); */

  background-image: url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  padding: 200px;
  /* cover: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-color: rgba(31, 39, 35, 0.6); */
  height: 70vh;
}

.search-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229, 224, 224);
  border-radius: 30px;
  padding: 2px;
  background-color: rgb(229, 224, 224);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

.search-input {
  border: none;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 30px 30px 0;
  background-color: var(--color-2);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #163825;
}

/* SEARCH BAR IN THE SEARCH-RESULTS PAGE */
/* results-searchbar = that is the className pass in the function */

.results-searchbar {
  background-color: transparent;
  /* margin-top: 60px; */
  border-radius: none;
  border: none;
}

.results-searchbar .search-container {
  padding: 30px;
  background-image: none;
}

.results-searchbar .search-form {
  background-color: transparent;
  border-radius: 1px;
  border: none;
  padding: 0px;
  background-color: none;
  box-shadow: none;
  width: 50%;
}

.results-searchbar .search-form .search-input,
.results-searchbar .search-form .search-button {
  border: 0.5px solid gray;
}
