/* SearchResults.css */

/* Container for the search results page */
.search-results-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Card container - Vertical list */
.cards-results-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;

  .card-results {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  .card-results:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .restaurant-image {
    height: 200px;
  }

  .restaurant-image img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #eee;
  }

  .restaurant-info {
    display: flex;
    flex-direction: column;
  }

  .restaurant-info h1 {
    padding: 1rem;
    width: 100%;
  }

  /* Restaurant card details */
  .restaurant-card {
    padding: 1rem;
    display: flex;
    gap: 3rem;
  }

  .restaurant-card .restaurant-details {
    min-width: 40%;
  }

  .restaurant-card small {
    color: #888;
    font-size: 14px;
  }

  .restaurant-current-offers div {
    font-size: 18px;
    font-weight: 600;
  }

  .restaurant-current-offers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .restaurant-current-offers li {
    background-color:var(--color-4);
    padding: 4px 10px;
    margin: 0;
    border-radius: 8px;
    /* margin-bottom: 4px; */
    /* flex: 1 1 100px; */
    text-align: center;
  }
}
