/* Settings.css */

.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.settings-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.settings-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.settings-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.settings-actions {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.settings-inputs-container div {
  margin-bottom: 5px;
}

.password-input-container {
  position: relative;
}

.form-input {
  padding: 8px;
  font-size: 16px;
}

.password-input {
  flex: 1;
}

.settings-password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}
.settings-save-cancel-button-container {
  display: flex;
  justify-content: space-around;
}
.settings-edit {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-2);
}

.settings-save {
  width: 36%;
  padding: 10px;
  background-color: var(--color-2);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.settings-cancel {
  width: 36%;
  padding: 10px;
  background-color: #fff;
  color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.settings-edit:hover {
  color: var(--color-1);
}

.settings-save,
.settings-cancel {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

.settings-save {
  border: 1px solid var(--color-2);
  background-color: var(--color-2);
  color: white;
  margin: 0.5rem auto;
}

.settings-save:hover {
  background-color: var(--color-1);
}

.settings-cancel {
  background-color: white;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  margin: 0 auto;
}
.settings-cancel:hover {
  background-color: #ffe;
}

/*  */
.settings-delete {
  background-color: #c36764;

  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 40%;
  min-width: 100px;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.settings-delete:hover {
  background-color: #c9302c;
}
