/* SuccessPage.css */

.successPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 6rem 0;
  background-color: #f9f9f9;
  min-height: 80vh;
  margin-top: 7rem;
  gap: 15rem;
}

.success-card-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  /* margin-right: 50px; */
}

.success-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.success-title {
  font-size: 24px;
  font-weight: bold;
}

.success-message {
  font-size: 18px;
  color: #666;
}

.success-card-order-details {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.success-card-order-details h2 {
  margin: 8px;
}

.success-card-order-details p {
  font-size: 16px;
  margin: 8px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.success-card-order-details p:last-child {
  border-bottom: none;
  font-weight: bold;
}

.success-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: end;
}

.success-trackerContainer {
  flex-grow: 1;
  max-width: 420px;
}
