.footer {
  background-color: var(--color-1);
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  /* height: 25rem; */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-section {
  flex: 1;
  margin: 1rem;
}

.footer-section h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.footer-section p,
.footer-section ul {
  font-size: 1.4rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 1rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #aaa;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 2rem;
  font-size: 2rem;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #aaa;
}

.social-icon i {
  color: white;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 1.4rem;
}
