/* Navbar.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  height: 7rem;
  padding: 0.6rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
  box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
}

nav h1 {
  font-family: "Merienda", cursive;
  font-weight: bolder;
  font-size: 3.6rem;
  cursor: pointer;
  color: var(--color-1);
}

.basket-and-register-container {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.welcome-message {
  margin-right: 10px;
  font-weight: bolder;
  color: var(--color-1);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 170px;
  /* background-color: var(--color-4); */
  background-color: var(--background-color);
  border: 1px solid #e0e0e0;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  right: 0;
  top: 100%;
  margin-right: 70px;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(195, 190, 190);
}

.dropdown-item:hover {
  background-color: var(--color-5);
  /* border-radius: 20px; */
}

.logout-button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background-color: #266241;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button.active {
  background-color: var(--color-1);
}

.logout-button:hover {
  background-color: var(--color-1);
}

/* *********** basket ICON in the nav bar *********** */
.cart-logo {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  color: #266241;
  text-decoration: none;
}

.cart-logo .item-count {
  background-color: var(--color-3);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -12px;
  right: -11px;
}
