/* Profile.css */

.container-profile {
  margin: 10rem 5rem;
  min-height: 100vh;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.title-profile {
  margin: 0;
  font-size: 2.5em;
}

.navbar-profile {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.navbar-profile ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar-profile ul li {
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.navbar-profile ul li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  transition: background-color 0.3s;
}

.navbar-profile ul li a:visited {
  text-decoration: none;
  color: black;
}

.navbar-profile ul li a:hover {
  border-bottom: 1px solid black;
  transform: scale(1.05);
}

.navbar-profile ul li a.active {
  font-weight: bolder;
  padding: 1rem;
  border-bottom: 1px solid #163825;
  color: #163825;
}

.navbar-profile ul li button {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1rem;
}

.navbar-profile ul li button:hover {
  border-bottom: 2px solid #000;
}
