/* RegisterAndLogin.css */

.register-login-page {
  height: 80vh;
  padding: 4rem;
  margin-top: 5rem;
  position: relative;
}

.register-login-page h2 {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  margin: 4rem 0 2rem;
}

.toggle-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #266241;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  background-color: #57635c;
  font-weight: bold;
}

.toggle-button:hover {
  background-color: #163825;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.name-fields {
  display: flex;
  gap: 2rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #eee2e2;
  border-radius: 5px;
  flex: 1;
}

.form-input:focus {
  border-color: #266241;
  outline: none;
}

.password-field {
  position: relative;
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input {
  flex: 1;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.register-login-page .buttons-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1.6rem;
}

.register-login-page .buttons-container button {
  padding: 10px 20px;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: none;
}

.register-login-page .buttons-container .submit-button {
  background-color: var(--button-primary-color);
  color: white;
}

.register-login-page .buttons-container .submit-button:hover {
  background-color: var(--button-primary-hover-color);
}

.register-login-page .buttons-container .submit-button:active {
  background-color: var(--button-primary-active-color);
}

.register-login-page .buttons-container .cancel-button {
  margin-top: 0;
  width: fit-content;
  border: var(--button-secondary-border-color);
  color: var(--button-secondary-border-color);
}
