/* ******** RSMenu.css ********* */

.rs-menu-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fbfffc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

.rs-menu-container .create-new-menu-button {
  background-color: var(--color-1);
  color: white;
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.rs-menu-container .add-menu-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0 3rem;
  padding: 1rem 0 2rem;
  border-bottom: 1px solid rgb(199, 197, 197);
}

.rs-menu-container .inputs-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.rs-menu-container .add-menu-form button {
  align-self: center;
  background-color: var(--color-1);
  color: white;
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.rs-menu-container .add-menu-form input {
  padding: 0.6rem;
  font-size: 1.4rem;
  border: 1px solid rgb(202, 202, 202);
}

.rs-menu-container .keywords {
  text-align: center;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rs-menu-container .edit-keywords {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 4rem;
  position: relative;
}

.rs-menu-container .edit-keywords .change-keywords-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
  width: 40%;
}

.rs-menu-container .edit-keywords .change-keywords-container input {
  padding: 0.6rem;
  font-size: 1.4rem;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
}

.rs-menu-container .edit-keywords .add-keywords-icon {
  position: absolute;
  top: 3.5rem;
  left: 20rem;
  cursor: pointer;
}

.rs-menu-container .edit-keywords .buttons-container {
  display: flex;
}

.rs-menu-container .edit-keywords .save-keywords-button {
  background-color: var(--color-1);
  color: white;
  font-size: 1.4rem;
}

.rs-menu-container .edit-keywords .cancel-keywords-button {
  font-size: 1.4rem;
  border: 1px solid var(--color-1);
  color: var(--color-1);
}

.keywords .keywords-edit-icon {
  cursor: pointer;
}

.menu-category {
  margin-bottom: 30px;
}

.menu-category h2 {
  border-bottom: 2px solid #bcbcbd;
  padding-bottom: 1rem;
  margin-bottom: 1.4rem;
  width: 100%;
}

.menu-category .category-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: 2rem; */
}

.menu-category .category-header label {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-category .category-header input {
  padding: 0.6rem;
  font-size: 1.4rem;
  border: 1px solid rgb(202, 202, 202);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: flex-start; */
  padding: 2rem 1rem;
  border-bottom: 1px solid #ccc;
}

.menu-item:last-child {
  border-bottom: none;
}

.rs-menu-container .menu-item .image-and-info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rs-menu-container .menu-item .image-and-info-container .image-container {
  width: 8rem;
}

.rs-menu-container .menu-item .image-and-info-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rs-menu-container .edit-form {
  margin-top: 1rem;
}

.item-info h3 {
  margin: 0;
  text-align: left;
}

.item-info p {
  margin: 5px 0 0;
  color: #6c757d;
}

.item-price {
  color: #343a40;
  font-weight: bold;
}

.rs-menu-container .edit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 3rem 0; */
  padding: 2rem 1rem;
  /* gap: 2rem; */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rs-menu-container .labels-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rs-menu-container .edit-item label {
  display: flex;
  gap: 1rem;
  align-items: center;

  /* width: fit-content; */
  /* flex-wrap: wrap; */
}

/* .rs-menu-container .price-label {
  width: 24%;
} */

.rs-menu-container .edit-item label input {
  padding: 0.6rem;
  font-size: 1.4rem;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
}

/* .rs-menu-container .edit-item .price {
  width: 70%;
} */

.rs-menu-container .delete-icon {
  color: rgb(196, 50, 50);
  cursor: pointer;
}

.rs-menu-container .add-item-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.rs-menu-container .new-item-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.rs-menu-container .new-item-form input {
  padding: 0.6rem;
  font-size: 1.4rem;
}

.rs-menu-container .new-item-form button {
  padding: 0 1rem;
  background-color: var(--color-1);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.rs-menu-container .add-icon {
  cursor: pointer;
}

.rs-menu-container .buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.rs-menu-container .buttons-container button {
  padding: var(--button-padding);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: var(--button-border-radius);
}

.rs-menu-container .buttons-container .save1-button {
  background-color: var(--color-1);
  color: white;
}

.rs-menu-container .buttons-container .cancel1-button {
  background-color: transparent;
  color: var(--color-1);
  border: 1px solid var(--color-1);
}

.rs-menu-container .edit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #165e4b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #274691;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.update-button:hover {
  background-color: #3c3572;
}
