/* ******** RSProfile.css ********* */

/* RSProfile.css */

.rs-profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 8px;
}

.basic-info,
.contact-information,
.address,
.digital-presence,
.opening-hours {
  /* border: 1px solid #ddd; */
  margin: 2rem;
  border-radius: 8px;
  padding: 2rem;
  background-color: #fbfffc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  padding-bottom: 5px;
}

.rs-profile-container .buttons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.rs-profile-section {
  margin: 10px 0;
  padding: 10px;

  border-radius: 5px;
}

.rs-profile-section .label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.rs-profile-section .label input {
  padding: 0.6rem;
  font-size: 1.4rem;
}

.rs-profile-section .label-image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.rs-profile-section .label-image .image-container {
  width: 20rem;
}

.rs-profile-section .label-image .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rs-profile-section div {
  margin: 5px 0;
}

strong {
  color: #555;
}

.rs-profile-section .edit-button {
  display: block;
  padding: 10px 20px;
  margin: 2rem auto 1rem;
  color: #fff;
  background-color: var(--color-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rs-profile-section .save-button {
  padding: 10px 20px;
  color: #fff;
  background-color: var(--color-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rs-profile-section .buttons-container .cancel-button {
  /* display: block; */
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #165e4b;
  border-radius: 5px;
  cursor: pointer;
}

.rs-profile-section .edit-button:hover {
  background-color: #2a8f74;
}

.rs-profile-container .delete-account-button {
  display: block;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--button-delete-color);
  color: #fff;
  border-radius: 5px;
  font-size: 1.6rem;
  margin: 0 auto;
  cursor: pointer;
}

.rs-profile-container .delete-account-button:hover {
  background-color: var(--button-delete-hover-color);
}

.rs-profile-container .delete-account-button:active {
  background-color: var(--button-delete-active-color);
}
