/* SearchResults.css */

/* Container for the search results page */
.search-results-page {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 7rem 1fr 20rem;
  min-height: 100vh;
}

/* Card container - Vertical list */
.cards-results-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 12rem auto 5rem;
  width: 90%;
  max-width: 1000px;
  min-height: 10rem;

  .card-results {
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  .card-results:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 2rem rgba(0, 0, 0, 0.15);
  }

  .restaurant-image {
    height: 22rem;
  }

  .restaurant-image img {
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #eee;
  }

  .restaurant-info {
    display: flex;
    flex-direction: column;
  }

  .restaurant-info h1 {
    padding: 1rem;
    width: 100%;
    text-align: left;
  }

  /* Restaurant card details */
  .restaurant-card {
    padding: 1rem;
    display: flex;
    gap: 3rem;
  }

  .restaurant-card .restaurant-details {
    min-width: 40%;
  }

  .restaurant-card small {
    color: #888;
    font-size: 1.4rem;
    text-align: left;
  }

  .restaurant-current-offers div {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .restaurant-current-offers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .restaurant-current-offers li {
    background-color: var(--color-4);
    padding: 0.4rem 1rem;
    margin: 0;
    border-radius: 0.8rem;
    text-align: center;
  }
}
