@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  --color-1: #165e4b;
  --color-2: #519259;
  --color-3: #eaba4a;
  --color-4: #feeabc;
  --color-5: #fbf9f5;
  --background-color: #fbf9f5;
  --shadow-light: rgba(255, 255, 255, 0.7);
  --shadow-dark: rgba(0, 0, 0, 0.15);
  --button-border-radius: 3rem;
  --button-padding: 1rem 3rem;
  --button-primary-color: #519259;
  --button-primary-hover-color: #64af6c;
  --button-primary-active-color: #165e4b;
  --button-secondary-color: transparent;
  --button-secondary-border-color: 1px solid #519259;
  --button-secondary-hover-color: ;
  --button-delete-color: rgb(179, 53, 53);
  --button-delete-hover-color: rgb(226, 82, 82);
  --button-delete-active-color: rgb(121, 37, 37);
  --cards-border-radius: 0.8rem;
}

#root {
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  color: var(--color-1);
  min-height: 100vh;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-card .favorite-icon-container {
  text-align: right;
  /* width: 100%; */
}

.menu-card .favorite-icon {
  cursor: pointer;
}

.restaurant-name {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
